
.header {
  display: flex;
  justify-content: space-around;
  padding: 8px;
  width: 100%;
  margin: auto;
  font-family: "ff-real-headline-pro", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: aqua;
  background-color: black;
}

.App-link {
  color: #61dafb;
}


/* .card-container {
  background-color: #61dafb !important;
} */


/* .about-body > p{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(255, 255, 255);
  
  font-size: 35px;
} */
